@font-face {
    font-family: Samarkan;
    src: url(../fonts/SAMARN__.TTF);
}

body {
  padding-top: 50px;
  padding: 40px 15px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.css-label{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.blue-sanskrit  {
    font-family: Samarkan;
    color: gray;
    font-size: 72px;
}

.gray-sanskrit  {
    font-family: Samarkan;
    color: gray;
}

.sanskrit  {
    font-family: Samarkan;
/*    font-size: 18px;*/
}

/*.navbar-nav {
    font-family: Samarkan;
    font color= "blue";*/
   /* font color="red"
}*/

/*body{
    padding: 2em;
    font-family: samarkan;
}*/

#gallery {
}

#gallery > div {
    width: 20%;
    display: inline-block;
    margin: 0 2em 2em 0;
}

#gallery > div > img {
    height: 150px;
    margin-bottom: 10px;
    display: block;
}


/*.little {
    font-family: Samarkan;
    text-align: center;
    font-size: 24px;*/

.big-sanskrit {
    font-family: Samarkan;
    font-size: 72px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h4{
    text-align: center;
}


.img-rounded {

}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3 {}


.jumbotron {
    background: url(../images/preg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover; 
   -moz-background-size: cover; 
   -o-background-size: cover; 
   background-size: cover; 
}

.extending {

}

body {
   background: url(/static/) no-repeat center center fixed;
   -webkit-background-size: cover; 
   -moz-background-size: cover; 
   -o-background-size: cover; 
   background-size: cover; 
    }

label.css-label {
            background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_1437560032a3e1345ce3a7bb5fec77cc.png);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

input[type=checkbox].css-checkbox {
                        position:absolute; 
                        z-index:-1000; 
                        left:-1000px; 
                        overflow: hidden; 
                        clip: rect(0 0 0 0); 
                        height:1px; 
                        width:1px; 
                        margin:-1px; 
                        padding:0; 
                        border:0;
                    }

input[type=checkbox].css-checkbox + label.css-label {
                        padding-left:20px;
                        height:15px; 
                        display:inline-block;
                        line-height:15px;
                        background-repeat:no-repeat;
                        background-position: 0 0;
                        font-size:15px;
                        vertical-align:middle;
                        cursor:pointer;

                    }

input[type=checkbox].css-checkbox:checked + label.css-label {
                        background-position: 0 -15px;
                    }



