@font-face {
    font-family: Samarkan;
    src: url(../fonts/SAMARN__.TTF);
}

body {
  padding-top: 50px;
  font-family: Samarkan;
  padding: 40px 15px;
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h4{
    text-align: left;
}


.img-rounded {

}


.jumbotron {
    /*background: url(../images/preg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover; 
   -moz-background-size: cover; 
   -o-background-size: cover; 
   background-size: cover; */
    margin-bottom: 0px;
    background-image: url(../images/tullyyoga.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.4em 0.4em 0.4em;
}

.extending {

}

body {
   background: url(/static/) no-repeat center center fixed;
   -webkit-background-size: cover; 
   -moz-background-size: cover; 
   -o-background-size: cover; 
   background-size: cover; 
    }