{% extends 'base.html' %}
{% block content %}


<p><a href="/about"></a></p>

<div class="well spaced" style="width:90%;">

<!-- <h1>POSE DETAIL</h1> -->
<!-- <h1>ABOUT PAGE</h1> -->
<!-- <h1>Website Instructions</h1> -->
                    <p><div class="big-sanskrit">Click Image to Preview Asanas</div></p>

<img id="asana_image" src="static/images/awkward.png" >

<script>
$('#asana_image').attr("src", "static/images/child_traditional (1).png");


    $('#asana_image').click(function pickPose() {
        setTimeout(function() {$('#asana_image').attr("src", "static/images/downward_dog.png"); }, 500);
        setTimeout(function() {$('#asana_image').attr("src", "static/images/awkward.png")}, 1500);
    });
</script>

<br>

                    <br>
                    </span>
                </div>
            </div>
          </form>
        </div>

    </div>
    </div> 

  <!--   <div class="well spaced" style="width:97%"> -->
        
  <!--   <p><a href="/asanas"></a></p>

    <p><h3>Click Image to Preview Asanas</h3></p>

    <br>
 -->
<!-- <img id="test" src="static/images/awkward.png" alt="Insert im"> 

<a href="http://www.pocketyoga.com/images/thumbnailsbig/box_neutral-tnbig.png"></a> -->

    <!-- <img id="asana_image" src="static/images/awkward.png" > -->

<script>
$('#asana_image').attr("src", "static/images/child_traditional (1).png");


    $('#asana_image').click(function pickPose() {
        setTimeout(function() {$('#asana_image').attr("src", "static/images/downward_dog.png"); }, 500);
        setTimeout(function() {$('#asana_image').attr("src", "static/images/awkward.png")}, 1500);
    });
</script>

<!-- <!-- <form method = "post" action = "<?php $_PHP_SELF ?>">
              <table width = "400" border = "0" cellspacing = "1" 
                 cellpadding = "2">

    <form action="/sequence/" method="post">
    <label for="integration_question1">Do you want to add the Integration Series? </label>
   <!--  <input id ="integration_question1" type ="" name ="Do you want to add the Integration Series?"> -->
 <!--    <input type="submit" value="Yes">
              
                 <tr>
                    <td width = "100">Employee Name</td>
                    <td><input name = "emp_name" type = "text" 
                       id = "emp_name"></td>
                 </tr>
              
                 <tr>
                    <td width = "100">Employee Address</td>
                    <td><input name = "emp_address" type = "text" 
                       id = "emp_address"></td>
                 </tr>
              
                 <tr>
                    <td width = "100">Employee Salary</td>
                    <td><input name = "emp_salary" type = "text" 
                       id = "emp_salary"></td>
                 </tr>
              
                 <tr>
                    <td width = "100"> </td>
                    <td> </td>
                 </tr>
              
                 <tr>
                    <td width = "100"> </td>
                    <td>
                       <input name = "add" type = "submit" id = "add" 
                          value = "Add Employee">
                    </td>
                 </tr>
              
              </table>
           </form>


<form action="MORE INFO" method="POST">

    <div class="form-group">
        <label>
            
            <input type="email" name="email" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Age
            <input type="number" name="age" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Zipcode
            <input type="text" name="zipcode" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-info"> MORE INFO</button>
    </div>




    <form action="/sequence/" method="post">
    <label for="integration_question1">Do you want to add the Integration Series? </label>
  <input id ="integration_question1" type ="" name ="Do you want to add the Integration Series?">
    <input type="submit" value="Yes">
     print integration_question1
        if integration_question1 == "Yes":
        print data['Integration']['Time'], 'minutes'
        total_practice.append("Integration")
        total_time += data['Integration']['Time']> -->
    <!-- <input type="submit" value="OK">  -->

<!-- 

     <form method = "post" action = "<?php $_PHP_SELF ?>">
                  <table width = "400" border = "0" cellspacing = "1" 
                     cellpadding = "2">
                  
                     <tr>
                        <td width = "100">Employee Name</td>
                        <td><input name = "emp_name" type = "text" 
                           id = "emp_name"></td>
                     </tr>
                  
                     <tr>
                        <td width = "100">Employee Address</td>
                        <td><input name = "emp_address" type = "text" 
                           id = "emp_address"></td>
                     </tr>
                  
                     <tr>
                        <td width = "100">Employee Salary</td>
                        <td><input name = "emp_salary" type = "text" 
                           id = "emp_salary"></td>
                     </tr>
                  
                     <tr>
                        <td width = "100"> </td>
                        <td> </td>
                     </tr>
                  
                     <tr>
                        <td width = "100"> </td>
                        <td>
                           <input name = "add" type = "submit" id = "add" 
                              value = "Add Employee">
                        </td>
                     </tr>
                  
                  </table>
               </form> -->


<!--     integration_question1 = raw_input ("Do you want to add the Integration Series? ")
    print integration_question1
    if integration_question1 == "Yes":
    print data['Integration']['Time'], 'minutes'
    total_practice.append("Integration")
    total_time += data['Integration']['Time'] -->


<!-- # integration_question2 = raw_input ("Do you want to add the Intention Series? ")
# print integration_question2
# if integration_question2 == "Yes":
#     print data['Intention']['Time'], 'minutes'# YES: 4_minutes' #ADD CORRECT TIME FOR 2-13 !!!!!!!!!!!!
#     total_practice.append("Intention")
#     total_time += data['Intention']['Time']

 
# integration_question3 = raw_input ("Do you want to add the Sun Salutation A Series? ")
# print integration_question3
# if integration_question3 == "Yes":
#     print data['Sun_Salutation_A']['Time'], 'minutes'
#     total_practice.append("Sun_Salutation_A")
#     total_time += data['Sun_Salutation_A']['Time']                                                                              
 
# integration_question4 = raw_input ("Do you want to add the Sun Salutation B Series? ")
# print integration_question4
# if integration_question4 == "Yes":
#     print data['Sun_Salutation_B']['Time'], 'minutes'
#     total_practice.append("Sun_Salutation_B") 
#     total_time += data['Sun_Salutation_B']['Time']                                                                                     

 
# integration_question5 = raw_input ("Do you want to add the Core Strengthening Series? ")
# print integration_question5
# if integration_question5 == "Yes":
#     print data['Core_Strengthening_Series']['Time'], 'minutes'
#     total_practice.append("Core_Strengthening_Series") 
#     total_time += data['Core_Strengthening_Series']['Time']                                                                                    
                                                                                         

 
# integration_question6 = raw_input ("Do you want to add the Crescent Lunge Series? ")
# print integration_question6
# if integration_question6 == "Yes":
#     print data['Crescent_Lunge_Series']['Time'], 'minutes'
#     total_practice.append("Crescent_Lunge_Series")      
#     total_time += data['Crescent_Lunge_Series']['Time']                                                                  

 
# integration_question7 = raw_input ("Do you want to add the Balancing Series? ")
# print integration_question7
# if integration_question7 == "Yes":
#     print data['Balancing_Series']['Time'], 'minutes'
#     total_practice.append("Balancing_Series")          
#     total_time += data['Balancing_Series']['Time']                                                                 
                                                                          

 
# integration_question8 = raw_input ("Do you want to add the Triangle Series? ")
# print integration_question8
# if integration_question8 == "Yes":
#     print data['Triangle_Series']['Time'], 'minutes'
#     total_practice.append("Triangle_Series")         
#     total_time += data['Triangle_Series']['Time']                                                  

 
# integration_question9 = raw_input ("Do you want to add the Hip Opener Series? ")
# print integration_question9
# if integration_question9 == "Yes":
#     print data['Hip_Opener_Series']['Time'], 'minutes'
#     total_practice.append("Hip_Opener_Series")    
#     total_time += data['Hip_Opener_Series']['Time']                                                         

 
# integration_question10 = raw_input ("Do you want to add the Spine Strengthening Series? ")
# print integration_question10
# if integration_question10 == "Yes":
#     print data['Spine_Strengthening_Series']['Time'], 'minutes'
#     total_practice.append("Spine_Strengthening_Series")       
#     total_time += data['Spine_Strengthening_Series']['Time']                                                   

 
# integration_question11 = raw_input ("Do you want to add the Forward Fold Series? ")
# print integration_question11
# if integration_question11 == "Yes":
#     print data['Forward_Fold_Series']['Time'], 'minutes'
#     total_practice.append("Forward_Fold_Series")   
#     total_time += data['Forward_Fold_Series']['Time']


# integration_question12 = raw_input ("Do you want to add the Surrender Series? ")
# print integration_question12
# if integration_question12 == "Yes":
#     print data['Surrender_Series']['Time'], 'minutes'
#     total_practice.append("Surrender_Series")        
#     total_time += data['Surrender_Series']['Time']


# integration_question13 = raw_input ("Do you want to add Namaste? ")
# print integration_question13
# if integration_question13 == "Yes":
#     print data['Namaste']['Time'], 'minutes'
#     total_practice.append("Namaste")  
#     total_time += data['Namaste']['Time'] -->

</form>

<!-- </form> -->
</div>

<!-- <button type="button" class="btn btn-info">Info</button> --> 

{% endblock %}