<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>

    <title>YOGA ASANAS</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
          rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
    <style>
        h1, h2, h3, .navbar-brand { font-family: "Times"; }

        
        #homepage-title {
            margin: 0;
            top: 0.5em;
            width: 100%;
            text-align: center;
            color: black;
            font-weight: 400;
            font-size: 500%;
        }

        html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          background-color: pink; 
        }

        #homepage-block {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          background-image: url("/static/sauron.jpg");
          background-size: 100%;
        }

        #extending {
                      margin: 0px;
                      padding: 0px;
                      /*background-color: yellow /*#B22222*/;*/
                      width: 100%;
                      height: 100%;
                   }

        .spaced {
          margin-left:20px; 
          margin-top: 20px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-heart-empty"></span>
                HOME
            </a>
            <a class="navbar-brand" href="/asanas">
                <span class="glyphicon glyphicon-heart-empty"></span>
                GENERATE YOUR SEQUENCE 
            </a>
            <a class="navbar-brand" href="/random">
                <span class="glyphicon glyphicon-heart-empty"></span>
                GENERATE RANDOM SEQUENCE 
            </a>
            <a class="navbar-brand" href="/posegame">
                <span class="glyphicon glyphicon-heart-empty"></span>
                GAME
            </a>
              <a class="navbar-brand" href="/sequence">
                <span class="glyphicon glyphicon-heart-empty"></span>
                GENERATE TIMED SEQUENCE 
            </a>
    
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href-"/fulllistofasanas">Asana List</a><li>
                <li><a href="/sanskrittranslations">Sanskrit Translation List</a></li>
                <!-- <li><a href="/sequence">Sequence</a></li>
                <li><a href-"/map">Asana List</a><li>
                <li><a href-"/d3">D3</a><li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if "user_id" in session %}
                  <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
              {% else %}
                  <li><a href="/register">Register</a></li>
                  <li><a href="/login">Login</a></li>
              {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div id="extending">
    {% for flash in get_flashed_messages() %}
      <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
    {% endfor %}
{% block content %}
{% endblock %}
</div>


<div class="container">
    <div class="starter-template">
        <h1>Coffee Shop</h1>
        <br>

        <img id="coffee_image" src="FIXME" alt="make this image work" height="300" width="200">

        <h3 id="message">Click The Image To Order Coffee</h3>

        <table class="table">
            <tr>
                <td class="col-md-2">
                    <button class="btn btn-default" id="espresso">Espresso</button>
                </td>
                <td class="col-md-2">
                    <button class="btn btn-default" id="latte">Latte</button>
                </td>
                <td class="col-md-2">
                    <button class="btn btn-default" id="hot-chocolate">Hot Chocolate</button>
                </td>
            </tr>
            <tr>
                <td>$3.25</td>
                <td>$4.15</td>
                <td>$2.50</td>
            </tr>
        </table>

        <h4>Total: <span id="revenue"><!-- Revenue Message will show up here --></span></h4>
    </div>
</div>

<script>

    var myImage = document.getElementById("coffee_image");
    var myRevenueMessage = document.getElementById("revenue");

    var drinksOrdered = [];

    myImage.src = "static/images/cat_balance.jpg";
    myImage.addEventListener('click', function () { return makeCoffee("brew"); });



        myImage.setAttribute('src', "static/images/supine_bound_angle.jpg");
        // setTimeout(function () { myImage.setAttribute('src', "static/coffee_mug.jpg"); }, 500);
        function fadeInn() {myImage.setAttribute("src", "static/images/downward_dog_leg_up_kneeling.jpg").fadeIn("slow");}



            // setTimeout(function () { myImage.setAttribute('src', "static/coffee_beans.jpg").fadeIn("slow"); }, 1500); ); }, 500)
    }


    // Create variables for Espresso, Latte, and Hot Chocolate;
    // and add an event listener to each that calls make_coffee
    var espresso = document.getElementById("espresso");
    var latte = document.getElementById("latte");
    var hotChocolate = document.getElementById("hot-chocolate");

    espresso.addEventListener('click', function () { return makeCoffee("espresso"); });
    latte.addEventListener('click', function () { return makeCoffee("latte"); });
    hotChocolate.addEventListener('click', function () { return makeCoffee("hot chocolate"); });

</script>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/static/js/favorites.js"></script>

</body>
</html>