{% extends 'base.html' %}

{% block content %}

    {{ pose.category }}

    <br>

    {{ pose.common_name }}

    <br>
    <div id="sanskrit_name" style="display: none"> 
    {{ pose.sanskrit_name }}
    </div> 
    <button class="btn btn-default" id="toggle_sanskrit_button">Sanskrit</button>

    <script> $('#toggle_sanskrit_button').click(function(){
        console.log('button clicked!');
        $('#sanskrit_name').toggle();
    });
    </script>
    <br>

    {{ pose.breathe }}

    <br>
    {{ pose.time }}

    <br>

    {{ pose. pregnancy }}

    <br>

    <img src="{{ pose.image_url }}">

    <br>

    <div class="site-wrapper-inner">
    <div> <a href="/asanas" class="btn btn-lg btn-primary">Back to Generate My Sequence</a> </div>

{% endblock %}

