{% extends 'base.html' %}

{% block content %}

    <h4 class="gray-sanskrit">{{ pose.category }}</h4>

    
    <h4 class="gray-sanskrit">{{ pose.common_name }}</h5>

  
    <div id="sanskrit_name" style="display: none"> 
    <h4 class="gray-sanskrit">{{ pose.sanskrit_name }}</h3>
    </div> 
    <button class="btn btn-default" id="toggle_sanskrit_button">Sanskrit</button>

    <script> $('#toggle_sanskrit_button').click(function(){
        console.log('button clicked!');
        $('#sanskrit_name').toggle();
    });
    </script>
    

    <h4 class="gray-sanskrit">{{ pose.breathe }}</h4>

    
    <h4 class="gray-sanskrit">{{ pose.time }}</h4>

    

    <h4 class="gray-sanskrit">{{ pose. pregnancy }}</h4>

    

    <img src="{{ pose.image_url }}">

    <br>
    <br>

    <div class="site-wrapper-inner">
    <div> <a href="/asanas" class="btn btn-lg btn-primary">Back to Generate My Sequence</a> </div>

{% endblock %}

