{% extends 'base.html' %}
{% block content %}

<!-- <form action="/posegame">
  What's your name? <input type="text" name="person">
  <input type="submit">
</form> -->

<head>
    <meta charset="UTF-8">
    <title>Asana List with details</title>

  
    <script src="/static/js/favorites.js"></script>

    <style>

        body{
            padding: 2em;
            font-family: samarkan;
        }

        #gallery {
        }

        #gallery > div {
            width: 20%;
            display: inline-block;
            margin: 0 2em 2em 0;
        }

        #gallery > div > img {
            height: 150px;
            margin-bottom: 10px;
            display: block;
        }

    </style>
</head>
<body>
    <div><h1>ASANAS</h1></div>
<!--     <img id="test" src="static/images/awkward.png" alt="Insert im"> -->

<div id="gallery">
<form action="/sequence">

    <div><h3>Check the poses to build your sequence:</h3><div>
        <br>
        <br>
    <div id="gallery">
        {% for pose in poses %}
                <div><input type="checkbox" class="css-checkbox" name="poses" value="{{ pose.pose_id }}"></input>
                    <label class="css-label">{{ pose.common_name }}</label>
                <button><a href="/posedetails/{{ pose.pose_id }}">Details</a></button>
                <button><a href="/pregnancy/{{ pose.pose_id }}">Pregnancy</a></button>
                <button><a href="/posedetails/{{ pose.pose_id }}">Sanskrit</a></button>
                <img src="{{ pose.image_url }}" alt="Insert im"> </div>

        {% endfor %}
    
     <!-- <input type="submit">SEQUENCE> -->
     <button name="subject" class="btn btn-lg btn-primary" type="submit" value="GenerateMySequence">Generate My Sequence</button>
     
         </div>
    </form>   

</body>
</html>

{% endblock %}