{% extends 'base.html' %}
{% block content %}

<!-- <form action="/posegame">
  What's your name? <input type="text" name="person">
  <input type="submit">
</form> -->


<!-- .spaced {
          margin-left:20px; 
          margin-top: 20px;
        }
 -->
<head>
    <meta charset="UTF-8">
    <title>Asana List with details</title>

  
    <!-- script src="/static/js/favorites.js"></script -->

    <style>
    </style>
</head>
<body>
    <div><h1 class= "big-sanskrit">ASANAS</h1></div>
<!--     <img id="test" src="static/images/awkward.png" alt="Insert im"> -->

<div id="gallery">
<form action="/sequence">

    <div><h3 class="gray-sanskrit">Check the poses to build your sequence:</h3><div>
        <br>
        <br>
    <div id="gallery">
        {% for pose in poses %}
                <div><input type="checkbox" class="css-checkbox" id="{{ pose.pose_id }}" name="poses" value="{{ pose.pose_id }}"></input>
                    <label for="{{ pose.pose_id }}" class="css-label">{{ pose.common_name }}</label>
                <button><a class="sanskrit" href="/posedetails/{{ pose.pose_id }}">Details</a></button>
                <button><a class="sanskrit" href="/pregnancy/{{ pose.pose_id }}">Pregnancy</a></button>
                <button><a class="sanskrit" href="/posedetails/{{ pose.pose_id }}">Sanskrit</a></button>
                <img src="{{ pose.image_url }}" alt="Insert im"> </div>

        {% endfor %}
    
     <!-- <input type="submit">SEQUENCE> -->
     <button name="subject" class="btn btn-lg btn-primary" type="submit" value="GenerateMySequence">Generate My Sequence</button>
     
         </div>
    </form>   

</body>
</html>

{% endblock %}