{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<div>
    <h1 class="big-sanskrit">Login</h1>
    <form action="/login" method="POST">
    <br>
        <div class="form-group">
            <h4><label class="gray-sanskrit">Email:
                <input type="email" name="email" required class="form-control">
            </label></h4>

        <div class="form-group">
            <h4><label class="gray-sanskrit">Password:
                <input type="password" name="password" required class="form-control">
            </label></h4>
        </div>
        <br>
        <div class="form-group">
            <h3><input type="submit" value="Submit" class="btn btn-success"></h3>
       <!--      <button type="button" class="btn btn-success">Success</button> -->

        </div>

    </form>
</div>
</div>
{% endblock %}