{% extends 'base.html' %}
{% block content %}

<head>
<!--   <link rel="stylesheet" href="./static/madlibs.css">  -->
  <title>Pose Game</title>
</head>
<body>
    <br>
    <form action="/posegame">

        <label>Would you like to pick poses?</label>>
        <select name="color">
            <option value="blue">blue</option>
            <option value="pink">pink</option>
            <option value="orange">orange</option>
            <option value="black">black</option>
        </select>
    </label><br>

    <br>

        <label>Would you like to pick poses?</label>

        <!-- <input type="" name="pickposes" value="yes">Yes
        <input type="radio" name="pickposes" value="no">No -->
        <br>
        <input type="submit">
    </form>


    <form>
        <
</body>


{% endblock %}