{% extends 'base.html' %}

{% block content %}

<div class="well spaced" style="width:90%">

    <h2 class="big-sanskrit">Random Sequence</h2>
    <h3 class="sanskrit">40 pose limit</h3>
    <br>
    <!-- <ul> -->
      {% for pose in random_poses %}
          <ul><h6>
                {{ pose }} 
              </a>
          </h6></ul>
      {% endfor %}
    <!-- </ul> -->
</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
    <div> <a href="/random" class="btn btn-lg btn-primary">New Random Sequence</a> </div>
</div>

{% endblock %}
