{% extends 'base.html' %}

{% block content %}

<div class="well spaced" style="width:90%">

    <h2>Random Sequence</h2>
    <h3>(40 pose limit)</h3>
    <br>
    <!-- <ul> -->
      {% for pose in random_poses %}
          <li>
                {{ pose }} 
              </a>
          </li>
      {% endfor %}
    <!-- </ul> -->
</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
    <div> <a href="/random" class="btn btn-lg btn-primary">New Random Sequence</a> </div>
</div>

{% endblock %}
