{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1 class="big-sanskrit">Register</h1>
<br>

<form action="register" method="POST">
<!-- 
    <div class="form-group">
        <label>
            Name
            <input type="name" name="name" class="form-control">
        </label>
    </div>
 -->
    <div class="form-group">
        <h4><label class="gray-sanskrit">
            Email
            <input type="email" name="email" class="form-control">
        </label></h4>
    </div>

    <div class="form-group">
        <h4><label class="gray-sanskrit">
            Password
            <input type="password" name="password" class="form-control">
        </label></h4>
    </div>
    <br>
    <div class="form-group">
        <h3><input type="submit" value="Submit" class="btn btn-success"></h3>
    </div>

</form>
</div>
{% endblock %}