{% extends 'base.html' %}

{% block content %}

    {{ pose.category }}

    <br>

    {{ pose.common_name }}

    <br>
    <div id="sanskrit_name" style="display: none"> 
    {{ pose.sanskrit_name }}
    </div> 
    <button class="btn btn-default" id="show_sanskrit_button">Show Sanskrit</button>

    <script> $('#show_sanskrit_button').click(function(){
        console.log('button clicked!');
        $('#sanskrit_name').show();
    });
    </script>
    <br>

    {{ pose.breathe }}

    <br>
    {{ pose.time }}

    <br>

    {{ pose. pregnancy }}

    <br>

    <img src="{{ pose.image_url }}">

{% endblock %}