{% extends 'base.html' %}
{% block content %}


<div class="well spaced" style="width:97%">
<h1>SEQUENCE PAGE </h1>
<!-- <h1>Website Instructions</h1> -->
<script src="https://code.jquery.com/jquery.js"></script>
<p><a href="/sequence"></a></p>

<!-- <p> HELLO </p> -->
<!-- 
<img id="test" src="static/images/awkward.png" alt="Insert im">

<br>

    <img id="asana_image" src="FIXME" alt="make this image work" height="300" width="200">

    <h3 id="message">Click The Image To Pick A Pose</h3>

    <table class="table">
        <tr>
            <td class="col-md-2">
                <button class="btn btn-default" id="downdog">Down Dog</button>
            </td>
            <td class="col-md-2">
                <button class="btn btn-default" id="supine">Supine</button>
            </td>
            <td class="col-md-2">
                <button class="btn btn-default" id="cat">Cat</button>



var myImage = $('#asana_image').attr("src", "cat_balance.jpg");
   $('#revenue')


    $('#asana_image').click(function pickPose() {
        setTimeout(function() {$('#asana_image').attr("src", "static/supine_bound_angle.jpg"); }, 500);
        setTimeout(function() {$('#asana_image').attr("src", "static/downward_dog_leg_up_kneeling.jpg")}, 1500); -->


<!-- for pose in poses_list:
    display pose  -->
<!-- add styling for display -->
    {% for pose in poses %}
        <li>{{ pose.common_name }}</li>
    {% endfor %}
<!-- 
<a href="http://www.pocketyoga.com/images/thumbnailsbig/box_neutral-tnbig.png"></a>

 -->
{% endblock %}

