{% extends 'base.html' %}
{% block content %}


<div class="well spaced" style="width:97%">
<h1 class="big-sanskrit">SEQUENCE PAGE </h1>
<!-- <h1>Website Instructions</h1> -->
<script src="https://code.jquery.com/jquery.js"></script>
<p><a href="/sequence"></a></p>

<!-- <p> HELLO </p> -->

<!-- <img id="test" src="static/images/awkward.png" alt="Insert im"> -->

<br>

    <!-- <img id="asana_image" src="static/images/awkward.png" alt="make this image work">
 -->
    <!-- <h3 id="message">Click The Image To Pick A Pose</h3>

    <table class="table">
        <tr>
            <td class="col-md-2">
                <button class="btn btn-default" id="downdog">Down Dog</button>
            </td>
            <td class="col-md-2">
                <button class="btn btn-default" id="supine">Supine</button>
            </td>
            <td class="col-md-2">
                <button class="btn btn-default" id="cat">Cat</button> -->





<!-- for pose in poses_list:
    display pose  -->
<!-- add styling for display -->
    {% for pose in poses %}
        <h4><ul>{{ pose.common_name }}</ul></h4>
        <br>
    {% endfor %}

    <form action="/users/{{ session['user_id'] }}" method="post">

         <input class="big-sanskrit" type="hidden" name="poses" value="{{ pose_id_str }}"><h4 class="sanskrit">
        Enter a name for your sequence to save it: </h4><input class="sanskrit" type="text" value="Heart Chakra" name="seq_name">
        <input type="submit" value="Save">
    </form>
<!-- 
<a href="http://www.pocketyoga.com/images/thumbnailsbig/box_neutral-tnbig.png"></a>

 -->
<img id="asana_image" src="static/images/awkward.png" alt="make this image work">

<script>
$('#asana_image').attr("src", "static/images/child_traditional (1).png");


    $('#asana_image').click(function pickPose() {
        setTimeout(function() {$('#asana_image').attr("src", "static/images/downward_dog.png"); }, 500);
        setTimeout(function() {$('#asana_image').attr("src", "static/images/awkward.png")}, 1500);
    });
</script>

{% endblock %}

