<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href=<!-- "/static/css/homepage.css" -->>
    <title>Tully and Tsegi Asanas</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="/static/img/forward_bend.png">

        <h1>Yoga Sequence Generator</h1>

        <p class="lead">Asanas.</p>

        <a href="/poses" class="btn btn-lg btn-primary">Generate My Sequence</a>

    </div>
</div>

<footer>
    <p>Copyright Tully and Tsegi 2016. All rights reserved.</p>
</footer>

</body>
</html>



    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="static/coffee.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="starter-template">
        <h1>Yoga Sequence Generator</h1>
        <br>

        <img id="yoga_image" src="LOLWUT" alt="make this image work with js" height="300" width="200">

        <h3 id="message">Click The Image For Asanas</h3>

        <table class="table">
            <tr>
                <td class="col-md-2">
                    <button class="btn btn-default" id="build-your-sequence">Build Your Sequence</button>
                </td>
                <td class="col-md-2">
                    <button class="btn btn-default" id="random-sequence-generator">Random Sequence Generator</button>
                </td>
                <td class="col-md-2">
                    <button class="btn btn-default" id="find-a-yoga-class">Find A Yoga Class</button>
                </td>
            </tr>
            <tr>
                <td>$3.25</td>
                <td>$4.15</td>
                <td>$2.50</td>
            </tr>
        </table>

        <h4>Total: <span id="revenue"><!-- Revenue Message will show up here</span></h4> -->
    </div>
</div>

<script>
    // Set these variables to their DOM elements
    var myImage = document.getElementById("yoga_image");
    var myRevenueMessage = document.getElementById("message");
    myImage.setAttribute('src', '');
    function cat_balance() {
        myImage.setAttribute('src', 'cat_balance.jpg');
    }
    function downward_dog_leg_up_kneeling() {
        myImage.setAttribute('images', 'downward_dog_leg_up_kneeling.jpg');
    }
    function supine_bound_angle() {
        myImage.setAttribute('images', 'supine_bound_angle.jpg');
    }
    function display_poses() {
        yoga_image();
        setTimeout(downward_dog_leg_up_kneeling, 1000);
        setTimeout(supine_bound_angle, 2500);
    }
    myImage.addEventListener('click', display_poses);
    // use this JavaScript object in further study step
    // var prices = {
    //     "brew": 2.05,
    //     "espresso": 3.25,
    //     "latte": 4.15,
    //     "hot chocolate": 2.50
    };


  <title>getElementById example</title>
  <script>
  function changeColor(newColor) {
    var elem = document.getElementById("para1");
    elem.style.color = newColor;
  }
  </script>
</head>
<body>
  <p id="para1">Some text here</p>
  <button onclick="changeColor('blue');">blue</button>
  <button onclick="changeColor('red');">red</button>
</body>

</script>

















<h1>Tully and Tsegi Asana Generator</h1>
<h1>Website Instructions</h1>

<p><a href="/asanas"></a></p>

<p> Welcome to ... </p>

<img id="test" src="static/images/awkward.png" alt="Insert im"> -->

<a href="http://www.pocketyoga.com/images/thumbnailsbig/box_neutral-tnbig.png"></a>

  <title>Yoga</title>


<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href=<!-- "/static/css/homepage.css" -->>
    <title>Tully and Tsegi Asanas</title>
</head>