{% extends 'base.html' %}
{% block content %}

<h1>Tully and Tsegi</h1>
<h1>Asana Sequence Generator</h1>
<!-- <h1>Website Instructions</h1> -->

<div class="well spaced" style="width:97%">
    
<p><a href="/asanas"></a></p>

<p><h3>Click Image to Preview Asanas</h3></p>

<br>

<!-- <img id="test" src="static/images/awkward.png" alt="Insert im"> 

<a href="http://www.pocketyoga.com/images/thumbnailsbig/box_neutral-tnbig.png"></a> -->

<img id="asana_image" src="static/images/awkward.png" >

<script>
$('#asana_image').attr("src", "static/images/child_traditional (1).png");


    $('#asana_image').click(function pickPose() {
        setTimeout(function() {$('#asana_image').attr("src", "static/images/downward_dog.png"); }, 500);
        setTimeout(function() {$('#asana_image').attr("src", "static/images/awkward.png")}, 1500);
    });
</script>

<br>

  <title>Yoga</title>


<br>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

  <!--       <img src="/static/img/forward_bend.png">
<!
        <h1>Yoga Sequence Generator</h1>
 --> 
        <h3><p class="lead">ASANA SEQUENCE GENERATOR FEATURES</p></h3>

        <a href="/asanas" class="btn btn-lg btn-primary">Generate My Sequence</a>
        <a href="/asanas" class="btn btn-lg btn-primary">Asana Details</a>
        <a href="/asanas" class="btn btn-lg btn-primary">Sanskrit Asana Translation</a>
        <a href="/asanas" class="btn btn-lg btn-primary">Asana Contraindications for Pregnancy</a>
        <a href="/random" class="btn btn-lg btn-primary"> Random Sequence Generator</a>
        <!-- <a href="/posegame" class="btn btn-lg btn-primary">Asana Game</a> -->
        <!-- <a href="/posegame" class="btn btn-lg btn-primary">Text Pose of the Day</a> -->

<br>
<form id="send_sms">
<input value="Text Pose of the Day" type="submit">
</form>

    </div>
</div>

<footer>
    <p>Copyright Tully and Tsegi 2016. All rights reserved.</p>
</footer>

<script type="text/javascript">
function sendSms(evt) {
$.get( "/send_message", function( data ) {
  console.log("Message sent");
});
evt.preventDefault()}
$("#send_sms").submit(sendSms);
</script>

</body>
</html>


{% endblock %}