{% extends 'base.html' %}
{% block content %}

<h1>Tully and Tsegi</h1>
<h1>Yoga Sequence Generator</h1>
<!-- <h1>Website Instructions</h1> -->

<div class="well spaced" style="width:97%">
    
<p><a href="/asanas"></a></p>

<p> ASANAS </p>

<img id="test" src="static/images/awkward.png" alt="Insert im"> 

<a href="http://www.pocketyoga.com/images/thumbnailsbig/box_neutral-tnbig.png"></a>

  <title>Yoga</title>




<div class="site-wrapper">
    <div class="site-wrapper-inner">

  <!--       <img src="/static/img/forward_bend.png">
<!
        <h1>Yoga Sequence Generator</h1>
 --> 
        <p class="lead">Tully</p>

        <a href="/asanas" class="btn btn-lg btn-primary">Generate My Sequence</a>
        <a href="/asanas" class="btn btn-lg btn-primary">Asana Details</a>
        <a href="/random" class="btn btn-lg btn-primary"> Random Sequence Generator</a>
        <a href="/posegame" class="btn btn-lg btn-primary">Asana Game</a>
        <a href="/about" class="btn btn-lg btn-primary">Sanskrit Asana Translation</a>

    </div>
</div>

<footer>
    <p>Copyright Tully and Tsegi 2016. All rights reserved.</p>
</footer>

</body>
</html>


{% endblock %}