{% extends 'base.html' %}
{% block content %}

<h1>Tully and Tsegi</h1>
<h1>Asana Sequence Generator</h1>
<!-- <h1>Website Instructions</h1> -->

<!-- <img src="preg.jpg" class="img-rounded" width="304" height="236"> -->

<div class="jumbotron">
    <div class="container" class="well spaced" style="width:90%, height:60%">
        <br>
        <br>
      
     <h1 style="color: white;"></h1>
          <br>
        <div class="search-box">
          <form action="/search" method='POST'>
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <p><a href="/asanas"></a></p>

                   <!--  <p><h3>Click Image to Preview Asanas</h3></p>

<img id="asana_image" src="static/images/awkward.png" > -->

<script>
// $('#asana_image').attr("src", "static/images/child_traditional (1).png");


//     $('#asana_image').click(function pickPose() {
//         setTimeout(function() {$('#asana_image').attr("src", "static/images/downward_dog.png"); }, 500);
//         setTimeout(function() {$('#asana_image').attr("src", "static/images/awkward.png")}, 1500);
//     });
// </script>

<br>

                    <br>
                    </span>
                </div>
            </div>
          </form>
        </div>

    </div>
    </div> 


<script>
$('#asana_image').attr("src", "static/images/child_traditional (1).png");


    $('#asana_image').click(function pickPose() {
        setTimeout(function() {$('#asana_image').attr("src", "static/images/downward_dog.png"); }, 500);
        setTimeout(function() {$('#asana_image').attr("src", "static/images/awkward.png")}, 1500);
    });
</script>

<br>

  <title>Yoga</title>


<br>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

  <!--       <img src="/static/img/forward_bend.png">
<!
        <h1>Yoga Sequence Generator</h1>
 --> 
        <h3><p class="lead">ASANA SEQUENCE GENERATOR FEATURES</p></h3>

        <a href="/asanas" class="btn btn-lg btn-primary">Generate My Sequence</a>
        <a href="/asanas" class="btn btn-lg btn-primary">Asana Details</a>
        <a href="/asanas" class="btn btn-lg btn-primary">Sanskrit Asana Translation</a>
        <a href="/asanas" class="btn btn-lg btn-primary">Asana Contraindications for Pregnancy</a>
        <a href="/random" class="btn btn-lg btn-primary"> Random Sequence Generator</a>
        <form id="send_sms">
        <input value="Text Pose of the Day" class="btn btn-lg btn-primary" type="submit">
        </form>

    </div>
</div>

<footer>
    <p>Copyright Tully and Tsegi 2016. All rights reserved.</p>
</footer>

<script type="text/javascript">
function sendSms(evt) {
$.get( "/send_message", function( data ) {
  console.log("Message sent");
});
evt.preventDefault()}
$("#send_sms").submit(sendSms);
</script>

</body>
</html>


{% endblock %}



  <!--   <div class="well spaced" style="width:97%"> -->
        
  <!--   <p><a href="/asanas"></a></p>

    <p><h3>Click Image to Preview Asanas</h3></p>

    <br>
 -->
<!-- <img id="test" src="static/images/awkward.png" alt="Insert im"> 

<a href="http://www.pocketyoga.com/images/thumbnailsbig/box_neutral-tnbig.png"></a> -->

    <!-- <img id="asana_image" src="static/images/awkward.png" > -->